.landingBackground {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(splashGif.gif);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-size:10 100vh;
}


.gifIcon {
  margin: auto;
}

.example{
  position: relative;
  top: 200px;
}


#container {
    position: relative;
}


#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  Z-index: -1;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
}

#logo2 {
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}


#logoText {

  width: 50%;
  position: absolute;
  top: 35%;
  left:25%;
}
